@model Planmenus.Data.Entities.MDGenerales

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="card">
        <div class="card-header">
             <div class="div-title">
				<h2 class="text-center">ELIMINAR DATOS EMPRESA</h2>
			 </div>
        </div>
        <div class="card-body">
             <div class="row">
                <div class="col-5">
                      <div class="form-group">
                            <label asp-for="gene_empre" class="control-label"></label>
                            <input asp-for="gene_empre" class="form-control" />
                            <span asp-validation-for="gene_empre" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="gene_ruc" class="control-label"></label>
                            <input asp-for="gene_ruc" class="form-control" />
                            <span asp-validation-for="gene_ruc" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="gene_direc" class="control-label"></label>
                            <input asp-for="gene_direc" class="form-control" />
                            <span asp-validation-for="gene_direc" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="gene_telef" class="control-label"></label>
                            <input asp-for="gene_telef" class="form-control" />
                            <span asp-validation-for="gene_telef" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="gene_url" class="control-label"></label>
                            <input asp-for="gene_url" class="form-control" />
                            <span asp-validation-for="gene_url" class="text-danger"></span>
                        </div>
                </div>
                <div class="col-md-7">
                    <img src="~/AdminX-master/demo/img/menudel.jpg" width="580" height="400" />
                </div>
            </div> 
            <form asp-action="Delete">
                <div class="form-group">
                    <input type="hidden" asp-for="id_gene" />
                    <input type="submit" value="Eliminar" class="btn btn-sm btn-danger" /> |
                    <a class="btn btn-sm btn-primary" asp-action="Index">Regresar</a>
                </div>               
            </form>
        </div>
    </div>
</div>
