@model Planmenus.Data.Entities.MDMenu

@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="card">
        <div class="card-header">
             <div class="div-title">
				<h2 class="text-center">ELIMINAR MENU</h2>
			 </div>
        </div>
        <div class="card-body">
             <div class="row">
                <div class="col-5">
                     <div class="form-group">
                        <label asp-for="menu_desc" class="control-label">Descripcion</label>
                        <input asp-for="menu_desc" class="form-control" readonly />
                        <span asp-validation-for="menu_desc" class="text-danger"></span>
                     </div>
                     <div class="form-group">
                        <label asp-for="menu_precio" class="control-label">Precio</label>
                        <input asp-for="menu_precio" class="form-control" readonly/>
                        <span asp-validation-for="menu_precio" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="menu_observ" class="control-label">Observacion</label>
                        <input asp-for="menu_observ" class="form-control" readonly/>
                        <span asp-validation-for="menu_observ" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="menu_fecha" class="control-label">Fecha</label>
                        <input asp-for="menu_fecha" class="form-control" readonly/>
                        <span asp-validation-for="menu_fecha" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-7">
                    <img src="~/AdminX-master/demo/img/menudel.jpg" width="580" height="400" />
                </div>
            </div> 
            <form asp-action="Delete">
                <div class="form-group">
                    <input type="hidden" asp-for="id_menu" />
                    <input type="submit" value="Eliminar" class="btn btn-sm btn-danger" /> |
                    <a class="btn btn-sm btn-primary" asp-action="Index">Regresar</a>
                </div>               
            </form>
        </div>
    </div>
</div>

