@model Planmenus.Data.Entities.MDInicial

@{
    ViewData["Title"] = "Crear inicial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="card">
        <div class="card-header">
             <div class="div-title">
				<h2 class="text-center">CREAR SALDO INICIAL</h2>
			 </div>
        </div>
        <div class="card-body">
            <div class="row">
                 <div class="col-md-5">
                     <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>                      
                        <div class="form-group">
                            <label asp-for="ini_desc" class="control-label"></label>
                            <input asp-for="ini_desc" class="form-control" />
                            <span asp-validation-for="ini_desc" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ini_monto" class="control-label">Monto</label>
                            <input asp-for="ini_monto" class="form-control" />
                            <span asp-validation-for="ini_monto" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ini_fecha" class="control-label"></label>
                            <input asp-for="ini_fecha" class="form-control" />
                            <span asp-validation-for="ini_fecha" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <input type="submit" value="Grabar" class="btn btn-sm btn-primary" />
                            <a class="btn btn-sm btn-primary" asp-action="Index">Regresar</a>
                        </div>
                    </form>
                </div>  
                <div class="col-md-7">
                    <img src="~/AdminX-master/demo/img/menu1.jpg" width="580" height="400" />
                </div>
            </div>           
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

