@model Planmenus.Data.Entities.MDUsuarios

@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card">
        <div class="card-header">
             <div class="div-title">
				<h2 class="text-center">EDITAR USUARIO</h2>
			 </div>
        </div>
        <div class="card-body">
            <div class="row">
                 <div class="col-md-5">
                     <form asp-action="Edit">
                       <input type="hidden" asp-for="IdUsuario" />   
                       <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Usua_user" class="control-label"></label>
                            <input asp-for="Usua_user" class="form-control" />
                            <span asp-validation-for="Usua_user" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Usua_nombres" class="control-label"></label>
                            <input asp-for="Usua_nombres" class="form-control" />
                            <span asp-validation-for="Usua_nombres" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Usua_apellidos" class="control-label"></label>
                            <input asp-for="Usua_apellidos" class="form-control" />
                            <span asp-validation-for="Usua_apellidos" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Usua_email" class="control-label"></label>
                            <input asp-for="Usua_email" class="form-control" />
                            <span asp-validation-for="Usua_email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Usua_pass" class="control-label"></label>
                            <input asp-for="Usua_pass" class="form-control" />
                            <span asp-validation-for="Usua_pass" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Usua_act" /> @Html.DisplayNameFor(model => model.Usua_act)
                            </label>
                        </div>
                         <div class="form-group">
                            <input type="submit" value="Grabar" class="btn btn-sm btn-primary" />
                            <a class="btn btn-sm btn-primary" asp-action="Index">Regresar</a>
                        </div>
                    </form>
                </div>  
                <div class="col-md-7">
                    <img src="~/AdminX-master/demo/img/usuario1.jpg" width="580" height="400" />
                </div>
            </div>           
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
