<!DOCTYPE html>
@{ Layout = null; }
<html lang="en">
  <head>
    <title>SOLUCIONES FLP - Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="~/AdminX-master/dist/css/adminx.css" media="screen" />
  </head>
@if (TempData["success"] != null)
{
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Mensaje: </strong> @Html.Encode(TempData["success"])
    <a href="#" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </a>
</div>}
@if (TempData["error"] != null)
{
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Mensaje: </strong> @Html.Encode(TempData["Error"])
    <a href="#" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </a>
</div>}

  <body>
    <div class="adminx-container d-flex justify-content-center align-items-center">
      <div class="page-login">            
        <div class="card mb-0">
          <div class="card-header">
               <div class="text-center">
                    <a class="navbar-brand mb-4 h1" href="#">
                    <img src="~/AdminX-master/demo/img/logo.png" class="navbar-brand-image d-inline-block align-top mr-2" alt="">
                    SOLUCIONES FLP - MENUS
                    </a>
                </div> 
          </div>  
          <div class="card-body">
            <form asp-action="Login" asp-controller="Home">
              <div class="form-group">
                <label for="exampleDropdownFormEmail1" class="form-label">Usuario</label>
                <input type="text" class="form-control" id="Usua_user" name="Usua_user" placeholder="Ingrese usuario">
              </div>
              <div class="form-group">
                <label for="exampleDropdownFormPassword1" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="Usua_pass" name="Usua_pass" placeholder="Ingrese password">
              </div>
              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1">Remember me</label>
                </div>
              </div>
              <button type="submit" class="btn btn-sm btn-block btn-primary">Ingresar</button>
            </form>
          </div>
@*          <div class="card-footer text-center">
            <a href="#"><small>Forgot your password?</small></a>
          </div>*@
        </div>
      </div>
    </div>

    <!-- If you prefer jQuery these are the required scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script src="~/AdminX-master/dist/js/vendor.js"></script>
    <script src="~/AdminX-master/dist/js/adminx.js"></script>

    <!-- If you prefer vanilla JS these are the only required scripts -->
    <!-- script src="../dist/js/vendor.js"></script>
    <script src="../dist/js/adminx.vanilla.js"></script-->
  </body>
</html>